DATABASE_URL=mysql+pymysql://root:Pu*TM3vq7W9r@localhost:3306/agricultural_advisory
OPENWEATHER_API_KEY=2d018e634af7c41bfb4d697d0c5ba6e5
SECRET_KEY=MbxWtPI0iUKGW9W1xLFlipbqwN-nFXyTCT_QzcTIECQ
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30